<div class="h-screen w-screen flex justify-center items-center">
    <div (click)="toggle()" class="flex flex-col justify-center items-center w-full max-w-screen-md h-[60vh] aspect-video">
        <video autoplay playsinline 
               class="w-full h-full border border-on-surface-dark rounded-lg aspect-video"
               style="transform: scaleX(-1);" 
               id="videoElement" 
               #videoElement>
        </video>

        @if (!this.cameraOn) {
            <p (click)="toggle()" class="text-center text-on-surface-dark cursor-pointer mt-2">Click box to open camera</p>
        }
        <p class="text-center mt-2 text-on-surface-dark-strong">{{ lastGesture }}</p>
    </div>
</div>
